<!-- The add / edit ingredient page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <title>Ingredients</title>
</head>

<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/view/admin/ingredients.html">Ingredients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view/index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view/profile.html">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Edit Mode</a>
    </li>
  </ul>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ingredients</h1>
      <p class="lead">Wakelstackel's Ingredients Inventory</p>
    </div>
  </div>
  <form>
    <h2>Add Ingredient</h2>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <div class="form-group">
          <label for="formGroupInput">Product Name</label>
          <input type="text" class="form-control" id="productName" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="imgFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <div class="form-group">
          <label for="formGroupInput2">Quantity</label>
          <input type="number" class="form-control" id="quantity" placeholder="Amount">
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <div class="form-group">
          <label for="formGroupInput2">Price</label>
          <input type="number" class="form-control" id="price" placeholder="$0.00">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isGlutenFree" required>
            <label class="form-check-label" for="invalidCheck2">
              Check if Gluten Free
            </label>
          </div>
        </div>
        <div class="form-group">
          <select class="custom-select" required id="categories">
            <option value="">Catagories</option>
            <option value="1">Meat</option>
            <option value="2">Spicy</option>
            <option value="3">Vegetarian</option>
            <option value="4">Vegan</option>
            <option value="5">Halal</option>
            <option value="6">Kosher</option>
            <option value="7">Cheese</option>
            <option value="8">Seasonings</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button id="submitIngredientBtn" type="submit" class="btn btn-primary">Add ingredient</button>
      </div>
    </div>
  </form>
  <script type="text/javascript" src="/js/ingredients.js"></script>
</body>

</html>